{% extends "registration/base.html" %}

{% block title %}Авторизация{% endblock title %}
{% block active_login %}active{% endblock active_login %}
{% block active_registration %}{% endblock active_registration %}

{% block form %}
<form class="form-signin" action="{% url 'login' %}" method="post">
    <div class="form-group">
        <h1 class="h3 mb-3 font-weight-normal">Пожалуйста, авторизуйтесь</h1>
    </div>
    {% if form.errors %}
    <div class="form-group">
        <div class="alert alert-danger" role="alert">
            Имя пользователя или пароль неверны
        </div>
    </div>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
    <div class="form-group">
        <div class="alert alert-danger" role="alert">
            Твой аккаунт не имеет доступ к этой странице. Пожалуйста, войдите в аккаунт с доступом
        </div>
    </div>
    {% else %}
    <div class="form-group">
        <div class="alert alert-danger" role="alert">
            Пожалуйста, войдите, чтобы увидидеть эту страницу
        </div>
    </div>
    {% endif %}
    {% endif %}

    {% csrf_token %}
    <div class="form-group">
        <label for="username" class="sr-only">Имя пользователя</label>
        <input class="form-control" id="username" type="text" name="username" placeholder="Имя пользователя" required autofocus>
    </div>
    <div class="form-group">
        <label class="sr-only" for="password">Пароль*</label>
        <input class="form-control" id="password" type="password" name="password" placeholder="Пароль" required>
    </div>
    <div class="form-group">
        Нет аккаунта?
        <a href="{% url 'registration' %}" role="button">Зарегистрироваться</a>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    <a class="btn btn-sm btn-outline-primary btn-block" href="{% url 'password_reset' %}">Забыли пароль?</a>
</form>
{% endblock form %}