{% extends "registration/base.html" %}

{% block title %}Восстановление пароля{% endblock title %}
{% block active_login %}{% endblock active_login %}
{% block active_registration %}{% endblock active_registration %}

{% block form %}
<div class="form-group">
    <div class="alert alert-danger" role="alert">
        ВНИМАНИЕ! ДАННАЯ ЧАСТЬ САЙТА НЕ РЕАЛИЗОВАННА, ПОЖАЛУЙСТА ПОКИНЬТЕ ДАННУЮ СТРАНИЦУ
    </div>
</div>
<form action="" method="post">
    {% csrf_token %}

    {% if form.email.errors %}
    <div class="form-group">
        <div class="alert alert-danger" role="alert">
            {{ form.email.errors }}
        </div>
    </div>
    {% endif %}

    <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-default btn-lg" value="Восстановить пароль">
</form>
{% endblock form %}