{% extends "base.html" %}
{% load static %}

{% block title %}Импортировать курсы{% endblock title %}

{% block active_webinars %}{% endblock active_webinars %}
{% block active_courses %}{% endblock active_courses %}

{% block content%}
<div id="tree"></div>
<form class="form-signin needs-validation" id="course_add" action="" novalidate>
    <div class="form-group">
        <h1 class="h3 mb-3 font-weight-normal">Импортировать курсы</h1>
    </div>
    <div class="form-group" id="div_alert">
        <div class="alert alert-danger" role="alert" id="alert"></div>
    </div>
    <div class="form-group">
        <label class="sr-only" for="url">Ссылка</label>
        <input class="form-control" id="url" type="text" name="url" placeholder="Ссылка на курс(ы)"
               pattern="(https?:\/\/)?(?:(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)(?:\.(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)*(?:\.(?:[a-zA-Z\u00a1-\uffff]{2,}))(?::\d{2,5})?(?:\/[^\s]*)?"
               required
               autofocus>
        <div class="invalid-feedback">
            Укажите корректную ссылку
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6 mt-3">
                <label class="sr-only" for="email">Email</label>
                <input class="form-control" id="email" type="email" name="email" placeholder="Адрес электронной почты"
                       required
                       autofocus>
            </div>

            <div class="col-md-6 mt-3">
                <label class="sr-only" for="password">Пароль</label>
                <input class="form-control" id="password" type="password" name="password"
                       placeholder="Пароль от аккаунта"
                       required
                       autofocus>
            </div>
        </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit">Добавить</button>
    <button class="btn btn-lg btn-primary btn-block d-none" type="button" id="loader_btn" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Загрузка...
    </button>
</form>
{% endblock content%}

{% block custom_sripts %}
<script src="{% static 'js/course_add.js' %}"></script>
<script>
    document.getElementById("div_alert").style.display = "none";

    function toggleButton() {
      const submit = document.getElementById('submit')
      submit.classList.toggle('d-none')

      const loader = document.getElementById('loader_btn')
      loader.classList.toggle('d-none')
    }

    function serializeForm(formNode) {
      const { elements } = formNode
      params = {}
      Array.from(elements)
        .forEach((element) => {
          const { name, value } = element
          params[name] = value
        })
      return params
    }

    async function form_send(form){
        document.getElementById("div_alert").style.display = "none";
        url = '{% url 'api_curses_get_list' %}'
        params = serializeForm(form);

        toggleButton();
        const response = await fetch(url + '?' + new URLSearchParams(params));
        const data = await response.json();
        toggleButton();

        if (data['success'] == false) {
          document.getElementById("alert").innerHTML = data['errorMessage'];
          document.getElementById("div_alert").style.display = "inline";
        }
        else {
            await show_list_courses(data['data']);
        }
    }
    function show_list_courses(data) {
        document.getElementById("course_add").remove();

        ul = document.createElement("ul");
        ul.setAttribute("id", "courses");
        document.getElementById('tree').appendChild(ul);

        var i = 0;
        for(var k in data) {
           document.getElementById('courses').appendChild(add_module(k, data[k], i, 0));
           i += 1;
        }
    }



</script>

<script>
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        event.preventDefault()
        if (!form.checkValidity()) {
          event.stopPropagation();
          document.getElementById("alert").innerHTML = "Пожалуйста, исправьте введенные данные";
          document.getElementById("div_alert").style.display = "inline";
        }
        else {
            form_send(form);
        }
        form.classList.add('was-validated')
      }, false)
    })
})()



</script>
{% endblock custom_sripts %}