{% extends "base.html" %}

{% block title %}Импортировать курсы{% endblock title %}

{% block active_webinars %}{% endblock active_webinars %}
{% block active_courses %}{% endblock active_courses %}


{% block content %}
<div class="row mb-4">
    <ul id="courses">

    </ul>
</div>
{% endblock content %}

{% block custom_sripts %}
<script type="text/javascript">
async function fetchData() {
    const response = await fetch("{{ url }}");
    const data = await response.json();
    for(var k in data) {
        document.getElementById('courses').appendChild(add_module(k, data[k]));
    }
}

function add_lesson(k, url) {
    var li = document.createElement("li");

    var span = document.createElement("span");
    span.innerHTML = k;

    li.appendChild(span)
    return li
}

function add_module(name, data) {
    var li = document.createElement("li");

    var span = document.createElement("span");
    span.innerHTML = name;

    var ul = document.createElement("ul");

    setTimeout(function () {
        for(var k in data[0]) {
            if (data[0][k][1] == 'module') {
                ul.appendChild(add_module(k, data[0][k]));
            }
            else {
                ul.appendChild(add_lesson(k, data[0][k][0]));
            }
        }
    }, 1000);
    li.appendChild(span)
    li.appendChild(ul)
    return li
}

fetchData()

</script>
{% endblock custom_sripts %}