{% extends "base.html" %}

{% block title %}Курсы{% endblock title %}

{% block active_webinars %}{% endblock active_webinars %}
{% block active_courses %}active{% endblock active_courses %}

{% block content%}
<div class="row">
  {% if modules|length != 0  %}
  <h1 class="h3 mb-3 font-weight-normal">Модули</h1>
  {% endif %}
  {% for cur in modules %}
  <div class="col-md-4 mb-4">
    {% if cur.is_watched == True %}
    <div class="card border-success">
    {% else %}
    <div class="card border-danger">
    {% endif %}
      <div class="card-body">
        <h4 class="card-title">{{cur.name}}</h4>
    {% if cur.is_watched == True %}
        <a href='/courses/modules/{{cur.id}}/' class="btn btn-outline-success">Перейти</a>
    {% else %}
        <a href='/courses/modules/{{cur.id}}/' class="btn btn-danger">Перейти</a>
    {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="row">
  {% if lessons|length != 0  %}
  <h1 class="h3 mb-3 font-weight-normal">Уроки</h1>
  {% endif %}
  {% for cur in lessons %}
  <div class="col-12 mb-4">
    {% if cur.is_watched == True %}
    <div class="card border-success">
    {% else %}
    <div class="card border-danger">
    {% endif %}
      <div class="card-body">
        <h4 class="card-title">{{cur.name}}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{curr.description}}</h6>
    {% if cur.is_watched == True %}
        <a href='/courses/lessons/{{cur.id}}/' class="btn btn-outline-success">Перейти</a>
    {% else %}
        <a href='/courses/lessons/{{cur.id}}/' class="btn btn-danger">Перейти</a>
    {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}