{% extends "base.html" %}
{% load static %}

{% block title %}Импортировать курсы{% endblock title %}

{% block active_webinars %}{% endblock active_webinars %}
{% block active_courses %}{% endblock active_courses %}

{% block content%}
<form class="form-signin needs-validation" id="course_add" action="" novalidate>
    <div class="form-group">
        <h1 class="h3 mb-3 font-weight-normal">Импортировать курсы</h1>
    </div>
    <div class="form-group" id="div_alert">
        <div class="alert alert-danger" role="alert" id="alert"></div>
    </div>
    <div class="form-group">
        <label class="sr-only" for="url">Ссылка</label>
        <input class="form-control" id="url" type="text" name="url" placeholder="Ссылка на курс(ы)"
               pattern="(https?:\/\/)?(?:(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)(?:\.(?:[a-zA-Z\u00a1-\uffff0-9]+-?)*[a-zA-Z\u00a1-\uffff0-9]+)*(?:\.(?:[a-zA-Z\u00a1-\uffff]{2,}))(?::\d{2,5})?(?:\/[^\s]*)?"
               required
               autofocus>
        <div class="invalid-feedback">
            Укажите корректную ссылку
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6 mt-3">
                <label class="sr-only" for="email">Email</label>
                <input class="form-control" id="email" type="email" name="email" placeholder="Адрес электронной почты"
                       required
                       autofocus>
            </div>

            <div class="col-md-6 mt-3">
                <label class="sr-only" for="password">Пароль</label>
                <input class="form-control" id="password" type="password" name="password"
                       placeholder="Пароль от аккаунта"
                       required
                       autofocus>
            </div>
        </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit">Добавить</button>
    <button class="btn btn-lg btn-primary btn-block d-none" type="button" id="loader_btn" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Загрузка...
    </button>
</form>
{% endblock content%}

{% block custom_scripts %}
<script>
    document.getElementById("div_alert").style.display = "none";
</script>
<script src="{% static 'js/course_show_list.js' %}"></script>
<script src="{% static 'js/course_add.js' %}"></script>
{% endblock custom_scripts %}