{% extends "base.html" %}
{% load static %}

{% block title %}{{lesson.name}}{% endblock title %}

{% block active_webinars %}{% endblock active_webinars %}
{% block active_courses %}{% endblock active_courses %}


{% block content %}
<div class="row mb-4">
    <div class="col-12 text-right">
        {% if lesson.watched == True %}
        <a class="btn btn-outline-danger" href="/webinars/{{webinar.id}}/make/no_watched/" role="button">Отметить как
            непросмотренное</a>
        {% else %}
        <a class="btn btn-success" href="/webinars/{{webinar.id}}/make/watched/" role="button">Отметить как
            просмотренное</a>
        {% endif %}
    </div>
</div>

<div class="row mb-4">
    <div class="col-12">
    {% if lesson.watched == True %}
        <div class="card border-success">
    {% else %}
        <div class="card border-danger">
    {% endif %}
            <div class="card-body">
                <h1 class="card-title text-center">{{lesson.name}}</h1>
                <h6 class="card-subtitle mb-2 text-muted">{{lesson.description}}</h6>
                <p class="card-text">{{lesson.text}}</p>

                {% for video in lesson.videos %}
                <div class="embed-responsive embed-responsive-16by9 m-b-2 mb-2">
                    <video class="video-fluid z-depth-1" controls="">
                        <source src="{{video.url}}" type="video/{{video.extension}}"/>
                    </video>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-4 mb-4">
        <div class="card">
            <h5 class="card-header text-center">Фотографии</h5>
            <div class="card-body">
                <div id="photo_carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for url in lesson.photos %}
                        {% if forloop.counter == 1 %}
                        <li data-target="#photo_carousel" data-slide-to="{{forloop.counter0}}" class="active"></li>
                        {% else %}
                        <li data-target="#photo_carousel" data-slide-to="{{forloop.counter0}}"></li>
                        {% endif %}
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for url in lesson.photos %}
                        {% if forloop.counter == 1 %}
                        <div class="carousel-item active">
                        {% else %}
                        <div class="carousel-item">
                        {% endif %}
                            <img class="d-block w-100" style="width:50%;" src="{{url}}" alt="{{forloop.counter}} фото">
                        </div>
                        {% endfor %}
                        <a class="carousel-control-prev" href="#photo_carousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Предыдущее</span>
                        </a>
                        <a class="carousel-control-next" href="#photo_carousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Следующее</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <h5 class="card-header text-center">Аудио</h5>
            <div class="card-body">
                {% for audio in lesson.audios %}
                <audio controls>
                    <source src="{{audio.url}}" type="audio/{{audio.extension}}"/>
                </audio>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <h5 class="card-header text-center">Файлы</h5>
            <div class="card-body">
                {% for file in lesson.files %}
                <a href="{{file.url}}" class="btn btn-outline-secondary mb-2">{{file.name}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}