{% extends "base.html" %}

{% block title %}Курсы{% endblock title %}

{% block active_webinars %}{% endblock active_webinars %}
{% block active_courses %}active{% endblock active_courses %}

{% block content%}
<div class="row">
  <div class="col mb-4 text-right">
    <a class="btn btn-primary" href="{% url 'add_course' %}" role="button">Импортировать курс</a>
  </div>
</div>
<div class="row">
  {% for cur in courses %}
  <div class="col-md-4 mb-4">
    {% if cur.is_watched == True %}
    <div class="card border-success">
    {% else %}
    <div class="card border-danger">
    {% endif %}
      <div class="card-body">
        <h4 class="card-title">{{cur.name}}</h4>
    {% if cur.is_watched == True %}
        <a href='/courses/modules/{{cur.id}}/' class="btn btn-outline-success">Перейти</a>
    {% else %}
        <a href='/courses/modules/{{cur.id}}/' class="btn btn-danger">Перейти</a>
    {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}