{% extends "base.html" %}

{% block navbars %}
<li class="nav-item {% block active_login%}{% endblock active_login %}">
    <a class="nav-link" href="/login">Авторизация<span class="sr-only"></span></a>
</li>
<li class="nav-item {% block active_registration%}{% endblock active_registration %}">
    <a class="nav-link" href="/signup">Регистрация</a>
</li>
{% endblock navbars %}

{% block user_dropdown %}{% endblock user_dropdown %}

{% block content%}
<div class="row text-center">
    <div class="col-sm"></div>
    <div class="col-sm-5">
        {% block form %}{% endblock form %}
    </div>
    <div class="col-sm"></div>
</div>
{% endblock content %}