{% extends "authorization/base.html" %}

{% block title %}Авторизация{% endblock title %}
{% block active_login %}active{% endblock active_login %}
{% block active_registration %}{% endblock active_registration %}

{% block form %}
<form class="form-signin" action="/login" method="post">
    <div class="form-group">
        <h1 class="h3 mb-3 font-weight-normal">Пожалуйста, авторизуйтесь</h1>
    </div>
    {% if alert != "" %}
    <div class="form-group">
        <div class="alert alert-danger" role="alert">
            {{alert}}
        </div>
    </div>
    {% endif %}
    {% csrf_token %}
    <div class="form-group">
        <label for="username" class="sr-only">Имя пользователя</label>
        <input class="form-control" id="username" type="text" name="username" placeholder="Имя пользователя" required autofocus>
    </div>
    <div class="form-group">
        <label class="sr-only" for="password">Пароль*</label>
        <input class="form-control" id="password" type="password" name="password" placeholder="Пароль" required>
    </div>
    <div class="form-group">
        Нет аккаунта?
        <a href="/signup" role="button">Зарегистрироваться</a>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
</form>
{% endblock form %}