{% extends "base.html" %}

{% block title %}Вебинары{% endblock title %}

{% block active_webinars %}active{% endblock active_webinars %}
{% block active_courses %}{% endblock active_courses %}

{% block content%}
<div class="row">
  <div class="col mb-4 text-right">
    <a class="btn btn-primary" href="{% url 'add_webinar' %}" role="button">Добавить новый вебинар</a>
  </div>
</div>
<div class="row">
  {% for web in webinars %}
  <div class="col-md-4 mb-4">
    {% if web.4 == True %}
    <div class="card border-success">
    {% else %}
    <div class="card border-danger">
    {% endif %}
      <div class="card-body">
        <h4 class="card-title">{{web.1}}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{web.3}}</h6>
        <p class="card-text">{{web.2}}</p>
    {% if web.4 == True %}
        <a href="/webinars/{{web.0}}/" class="btn btn-outline-success">Перейти</a>
    {% else %}
        <a href="/webinars/{{web.0}}/" class="btn btn-danger">Перейти</a>
    {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}