<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Добавление вебинара</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <input id="photos_count" name="photos_count" value="0" type="hidden">
        <input id="files_count" name="files_count" value="0" type="hidden">
        <input id="musics_count" name="musics_count" value="0" type="hidden">
        <form action="/webinar/add" method="post" id="webinar_add">
            {% csrf_token %}

            <label for="name">Название</label>
            <input id="name" type="text" name="name" placeholder="Название вебинара" required>
            <br>
            <label for="author">Автор</label>
            <input id="author" type="text" name="author" placeholder="Автор" required>
            <br>
            <label for="description">Описание</label>
            <textarea id="description" name="description" placeholder="Добавьте описание к вебинару"></textarea>
            <br>
            <label for="date">Дата проведения</label>
            <input id="date" type="date" name="date" placeholder="Дата" required>
            <br>
            <label for="url">Ссылка на вебинар</label>
            <input id="url" type="url" name="url" placeholder="Ссылка" required>
            <br>
            <span id="photos"></span>
            <button type="button" onclick="addPhoto()">Добавить фото</button>
            <br>
            <span id="files"></span>
            <button type="button" onclick="addFile()">Добавить файл</button>
            <br>
            <span id="musics"></span>
            <button type="button" onclick="addMusic()">Добавить музыку</button>
            <br>
            <input type="submit" value="Добавить вебинар">
        </form>
    </body>

    <script>
    function addPhoto() {
        var photos_count = document.getElementById('photos_count');
        count = parseInt(photos_count.getAttribute('value'), 10);
        photos_count.setAttribute('value', count + 1);

        var br = document.createElement("br");
        br.setAttribute("id", "br_"+count);

        var url_label = document.createElement("label");
        url_label.setAttribute("id", "photo_label_"+count);
        url_label.setAttribute("for", "photo_url_"+count);
        url_label.innerHTML = "Введите ссылку на фотографию";

        var url = document.createElement("input");
        url.setAttribute("type", "url");
        url.setAttribute("name", "photo_url_"+count);
        url.setAttribute("id", "photo_url_"+count);
        url.setAttribute("placeholder", "Ссылка");
        url.setAttribute("required", "");

        var btn = document.createElement("button");
        btn.setAttribute("type", "button");
        btn.setAttribute("id", "photo_btn_"+count);
        btn.setAttribute("onclick", "rmPhoto("+count+")");
        btn.innerText = "x";

        document.getElementById("photos").appendChild(url_label);
        document.getElementById("photos").appendChild(url);
        document.getElementById("photos").appendChild(btn);
        document.getElementById("photos").appendChild(br);
    }
    function rmPhoto(count) {
        document.getElementById("br_"+count).remove();
        document.getElementById("photo_label_"+count).remove();
        document.getElementById("photo_url_"+count).remove();
        document.getElementById("photo_btn_"+count).remove();
    }
    function addFile() {
        var files_count = document.getElementById('files_count');
        count = parseInt(files_count.getAttribute('value'), 10);
        files_count.setAttribute('value', count + 1);

        var br1 = document.createElement("br");
        br1.setAttribute("id", "br1_"+count);
        var br2 = document.createElement("br");
        br2.setAttribute("id", "br2_"+count);

        var file_name_label = document.createElement("label");
        file_name_label.setAttribute("for", "file_name_"+count);
        file_name_label.setAttribute("id", "file_label_name_"+count);
        file_name_label.innerHTML = "Введите название файла";

        var file_name = document.createElement("input");
        file_name.setAttribute("type", "text");
        file_name.setAttribute("name", "file_name_"+count);
        file_name.setAttribute("id", "file_name_"+count);
        file_name.setAttribute("placeholder", "Название");
        file_name.setAttribute("required", "");

        var file_url_label = document.createElement("label");
        file_url_label.setAttribute("for", "file_url_"+count);
        file_url_label.setAttribute("id", "file_label_url_"+count);
        file_url_label.innerHTML = "Введите ссылку на файл";

        var file_url = document.createElement("input");
        file_url.setAttribute("type", "url");
        file_url.setAttribute("name", "file_url_"+count);
        file_url.setAttribute("id", "file_url_"+count);
        file_url.setAttribute("placeholder", "Ссылка");
        file_url.setAttribute("required", "");

        var btn = document.createElement("button");
        btn.setAttribute("type", "button");
        btn.setAttribute("id", "file_btn_"+count);
        btn.setAttribute("onclick", "rmFile("+count+")");
        btn.innerText = "x";

        document.getElementById("files").appendChild(file_name_label)
        document.getElementById("files").appendChild(file_name)
        document.getElementById("files").appendChild(br1)
        document.getElementById("files").appendChild(file_url_label)
        document.getElementById("files").appendChild(file_url)
        document.getElementById("files").appendChild(btn)
        document.getElementById("files").appendChild(br2)
    }
    function rmFile(count) {
        document.getElementById("br1_"+count).remove();
        document.getElementById("br2_"+count).remove();
        document.getElementById("file_label_name_"+count).remove();
        document.getElementById("file_name_"+count).remove();
        document.getElementById("file_label_url_"+count).remove();
        document.getElementById("file_url_"+count).remove();
        document.getElementById("file_btn_"+count).remove();
    }
    function addMusic() {
        var musics_count = document.getElementById('musics_count');
        count = parseInt(musics_count.getAttribute('value'), 10);
        musics_count.setAttribute('value', count + 1);

        var br = document.createElement("br");
        br.setAttribute("id", "br_"+count);

        var url_label = document.createElement("label");
        url_label.setAttribute("for", "music_url_"+count);
        url_label.setAttribute("id", "music_label_"+count);
        url_label.innerHTML = "Введите ссылку на музыку";

        var url = document.createElement("input");
        url.setAttribute("type", "url");
        url.setAttribute("name", "music_url_"+count);
        url.setAttribute("id", "music_url_"+count);
        url.setAttribute("placeholder", "Ссылка");
        url.setAttribute("required", "");

        var btn = document.createElement("button");
        btn.setAttribute("type", "button");
        btn.setAttribute("id", "music_btn_"+count);
        btn.setAttribute("onclick", "rmMusic("+count+")");
        btn.innerText = "x";

        document.getElementById("musics").appendChild(br)
        document.getElementById("musics").appendChild(url_label)
        document.getElementById("musics").appendChild(url)
        document.getElementById("musics").appendChild(btn)
        document.getElementById("musics").appendChild(br)
    }
    function rmMusic(count) {
        document.getElementById("br_"+count).remove();
        document.getElementById("music_label_"+count).remove();
        document.getElementById("music_url_"+count).remove();
        document.getElementById("music_btn_"+count).remove();
    }
</script>
</html>